.dashboard-container {
    height: 100vh;
}

.dashboard-cards {
    padding: 16px;
}

.dashboard-card {
    width: clamp(300px, 25%, 400px);
}

.card-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fill-height {
    height: 100%;
}
